 <html><body>
     <h3>Calendrier Liturgique</h3>


     <table>
{% for messe in messes %}   

<tr>
    <td>{{messe.dateheure|format_datetime('full','none',locale='fr')}}</td>
    <td>{{messe.dateheure|date('H:i')}}</td>
    <td>{{messe.reservationEglise.salle}}</td>
    <td>{{ messe.informations }}</td>
    <td>{{ messe.type }}</td>
    <td>{{ messe.typeCelebration }}</td>
    <td>
    {% for Celebrant in messe.celebrants %}
      {{ Celebrant.personne.titre}}   {{ Celebrant.personne.prenom}}  {{ Celebrant.personne.particuleNom }}  {{ Celebrant.personne.nom}}<br>
     {% endfor %} 
    </td>
    <td>{{ messe.annoncesPubliques }}</td>
    <td>
        {% for Actor in  messe.acteurs %}
         {{ Actor.personne }}<br>
        {% endfor %}  
    </td>
</tr>

{% endfor %}
</table>
     

</body>
</html>
