<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>doc27895</title>
   
  </head>
<body>
{% for personne in personnes %}
{% for sacrement in personne.sacrements %}
{% for beneficiaire in sacrement.dossierBeneficiaires %}
************************<br>  
sacrement.type: {{ sacrement.type}}<br>
sacrement.status: {{ sacrement.status}}<br>
sacrement.lieuReservation: {{ sacrement.lieuReservation}}<br>
personne.id: {{ personne.id }}<br>
beneficiaire.personne.id: {{ beneficiaire.personne.id }}<br>
beneficiaire.dossierPersonnel.numActe: {{  beneficiaire.dossierPersonnel.numActe }}<br>
*****************************************<br>

{%  endfor %} 
{%  endfor %}
{%  endfor %}

</body>
</html>
